name: POS (backend) deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Clonar el repositorio
      - name: Checkout del repositorio
        uses: actions/checkout@v3

      # Login a GitHub Container Registry
      - name: Login a GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      # Crear la imagen de Docker
      - name: Crear la imagen de Docker
        run: |
          docker build -t ghcr.io/zelio-1/punto-de-venta-backend/pos-app:latest .

      # Hacer un push de la imagen de Docker a GitHub Container Registry
      - name: Push de la imagen de Docker a GitHub Container Registry
        run: |
          docker push ghcr.io/zelio-1/punto-de-venta-backend/pos-app:latest

      # Actualizar el repositorio en Render 
      - name: Despliegue a Render
        run: |
          curl -X POST "https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }}/deploys" \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
          -H "Accept: application/json" \
          -H "Content-Type: application/json" \
          -d '{"clearCache": true}'